<!-- This template always displays image placeholders -->
<div class="content-body news">
    <div class="row-group summary news">
      <!-- News: Grid Full -->
      <!-- News: 1-Column Highlight -->
      <div class="row">
        <div class="col-1">
          <header class="rule">
            <h4 data-bind="text: name()"></h4>
          </header>
          <div class="col" data-bind='visible: allNews()[0].length + allNews()[1].length + allNews()[2].length == 0, text: $root.noResult'></div>
          <!-- ko foreach: allNews()[0] -->
            <div class="col">
              <figure>
                <img width="739" height="554" src="data:image/gif;base64,R0lGODlhAQABAIAAAP//////zCH5BAEHAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="http://placehold.it/739x554/aa0000/&text=739x554+(normal) 1x, http://placehold.it/1478x1108/ffcc00/000000/&text=1478x1108+(retina) 2x" sizes="100vw" alt="Placeholder"/>
              </figure>
              <div class="body-text">
                <div class="datetime" data-bind="text: formattedDate()"></div>
                <header>
                  <h3 data-bind="text: name()"></h3>
                </header>
                
                <p data-bind="text: description()">
                </p>
                <footer>
                  <a data-bind="attr: {href: url()}, text: $root.readMore"></a>
                </footer>
              </div><!-- /.body-text -->
              <div class="clearfix"></div>        
            </div> <!-- /.col -->
        <!-- /ko -->
        </div><!-- news grid 1 col image -->      
      </div><!-- /.row -->
      <!-- / News: 1-Column Highlight -->

      <!-- News: 4-Column Text -->
      <div class="row">
        <div class="col-4">
          <!-- ko foreach: allNews()[1] -->
            <a data-bind="attr: {href: url()}" class="col">
              <div class="image-container">
                <img width="342" height="256" src="data:image/gif;base64,R0lGODlhAQABAIAAAP//////zCH5BAEHAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="http://placehold.it/342x256/aa0000/&text=739x554+(normal) 1x, http://placehold.it/1478x1108/ffcc00/000000/&text=1478x1108+(retina) 2x" sizes="100vw" alt="Proof of concept"/>
              </div>
              <div class="body-text">
                <div class="datetime" data-bind="text: formattedDate()"></div>
                <header>
                  <h5 data-bind="attr: {href: url()},text: name()"></h5> 
                </header>         
              </div><!-- /.body-text -->       
            </a> <!-- /.col -->
          <!-- /ko -->
          <div class="clearfix"></div> 
        </div><!-- news grid 1 col image -->      
      </div><!-- /.row -->
      <!-- / News: 4-Column Text -->

      <!-- News: 4-Column Text -->
      <div class="row">
        <div class="col-4">
          <!-- ko foreach: allNews()[2] -->
            <a data-bind="attr: {href: url()}" class="col">
              <div class="image-container">
                <img width="342" height="256" src="data:image/gif;base64,R0lGODlhAQABAIAAAP//////zCH5BAEHAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="http://placehold.it/342x256/aa0000/&text=739x554+(normal) 1x, http://placehold.it/1478x1108/ffcc00/000000/&text=1478x1108+(retina) 2x" sizes="100vw" alt="Proof of concept"/>
              </div>
              <div class="body-text">
                <div class="datetime" data-bind="text: formattedDate()"></div>
                <header>
                  <h5 data-bind="attr: {href: url()},text: name()"></h5>
                </header>         
              </div><!-- /.body-text -->        
            </a> <!-- /.col -->
          <!-- /ko -->
          <div class="clearfix"></div>
        </div><!-- news grid 1 col image -->      
      </div><!-- /.row -->
      <!-- News: 4-Column Text -->
      <!-- News: 1-Column Highlight -->
    </div>
  </div>
</div>